p.upperCase{
	text-transform: uppercase;
}
.center{
	text-align: center;
}
.header {
	background: rgb(70, 130, 180);
	color: white;
	height: 181px;
}
.titleCenter {
	font-size: 65px
}
.titleUp {
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: -5px;
	font-size: 30px;
}
.titleDown {
	font-weight: bold;
	margin-bottom: -5px;
	font-size: 30px;
}
nav{
	height: 30px;
}

body {
	background-color: black;
}
div:nth-of-type(2) {
	background: black;
	padding-top: 20px;
	background-size: 4000px 1000px;
}
div table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
    border-spacing: 20px;
}
td {
	width: 200px;
	height: 200px;
	
	border-radius: 25px;
	
	
}
